#Navbar {
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  background: rgba(255, 255, 255, 0.6);
  background-image: url(/images/texture.png);
}

#Menu {
  z-index: 2;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  border-radius: 4px;
  background-color: #FFBA84;
  background-image: url(/images/texture.png);
  padding: .5rem 10rem;
  margin: 0;
  height: auto;
  border: 1px solid transparent;
  text-align: center;
  vertical-align: middle;
  font-size: 34px;
  font-weight: 600;
  font-family: Century Gothic;
}
