#Navbar {
  z-index: 4;
  position: absolute;
  left: 0;
  top:0;
  width: 6%;
  height: 100%;
  background: white;
  background-image: url(/images/texture.png);
}
#Navbar ul {
  transform: rotate(-90deg) translateX(-100%);
  -moz-transform: rotate(-90deg) translateX(-100%);
  -webkit-transform: rotate(-90deg) translateX(-100%);
}
#Navbar ul li {
  display: inline;
}

#Menu {
  z-index: 5;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  border-radius: 200px 200px 0 0 / 35px 35px 0 0;
  background-color: #FFBA84;
  background-image: url(/images/texture.png);
  padding: .5rem 10rem;
  margin: 0;
  height: auto;
  border: 1px solid transparent;
  text-align: center;
  vertical-align: middle;
  font-size: 36px;
  font-weight: 600;
  font-family: Century Gothic;
  color: white;
  cursor: pointer;
}

#menu-wrap {
  position: absolute;
  z-index: 4;
  left: 6%;
  top: 0;
  width: 94%;
  height: 100%;
  text-align: center;
  background: rgba(255, 186, 132, 0.6);
  background-image: url(/images/texture.png);
  display: none;
  font-size: 24px;
  font-family: Century Gothic;
  color: white;
}

#menu-list {
  list-style-position: inside;
  display: inline-block;
  text-align: left;
  margin-top: 180px;
}

.menu-item {
  margin-bottom: 30px;  
}
