#Navbar {
  z-index: 4;
  position: fixed;
  left: 0;
  top:0;
  width: 100vh;
  height: 6vw;
  background: white;
  background-image: url(/images/texture.png);
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: rotate(-90deg) translateX(-100%);
  -moz-transform: rotate(-90deg) translateX(-100%);
  -ms-transform: rotate(-90deg) translateX(-100%);
  -o-transform: rotate(-90deg) translateX(-100%);
  transform: rotate(-90deg) translateX(-100%);
}
#Navbar ul {
  list-style-type: none;
  padding-left: 0;
  text-align: center;
  line-height: 6vw;
}

.menu_item {
  z-index: 4;
  display: inline;
  margin: 0 10px 0 10px;
  font-size: 22px;
  font-weight: bold;
  font-family: Century Gothic;
  cursor: pointer;
}

.menu_wrap {
  position: absolute;
  z-index: 4;
  left: 6%;
  top: 0;
  width: 94%;
  height: 100%;
  text-align: center;
  background: rgba(255, 186, 132, 0.6);
  background-image: url(/images/texture.png);
  display: none;
  font-size: 24px;
  font-family: Century Gothic;
  color: white;
}

.script_list {
  list-style-position: inside;
  display: inline-block;
  text-align: left;
  margin-top: 180px;
}

.script_item {
  margin-bottom: 30px;  
}
