#Navbar {
  position: absolute;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 20%, rgba(0, 0, 0, 0) 100%);
  z-index: 200;
  bottom: 0;
  left: 0;
  right: 0;
  height: 56px;
}
