#Loading {
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background: white;
}

.loader {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 75px;
  display: inline-block;
  vertical-align: middle;
}
.loader-17 .css-square { 
  position: absolute;
  top: 50%;
  width: 25px; height: 7px;
  background: white;
  -webkit-box-shadow: 2px 2px 3px 0px black;
  box-shadow: 2px 2px 3px 0px black;
}   
.loader-17 .square1 {
  left: 70px;
  -webkit-animation: dominos 1s 0.125s ease infinite;
  animation: dominos 1s 0.125s ease infinite;
}    
.loader-17 .square2 {
  left: 60px;
  -webkit-animation: dominos 1s 0.3s ease infinite;
  animation: dominos 1s 0.3s ease infinite;
}    
.loader-17 .square3 {
  left: 50px;
  -webkit-animation: dominos 1s 0.425s ease infinite;
  animation: dominos 1s 0.425s ease infinite;
}    
.loader-17 .square4 {
  left: 40px;
  -webkit-animation: dominos 1s 0.540s ease infinite;
  animation: dominos 1s 0.540s ease infinite;
}    
.loader-17 .square5 {
  left: 30px;
  -webkit-animation: dominos 1s 0.665s ease infinite;
  animation: dominos 1s 0.665s ease infinite;
}    
.loader-17 .square6 {
  left: 20px;
  -webkit-animation: dominos 1s 0.79s ease infinite;
  animation: dominos 1s 0.79s ease infinite;
}    
.loader-17 .square7 {
  left: 10px;
  -webkit-animation: dominos 1s 0.9s ease infinite;
  animation: dominos 1s 0.9s ease infinite;
}    
.loader-17 .square8 {
  left: 0px;
  -webkit-animation: dominos 1s 1s ease infinite;
  animation: dominos 1s 1s ease infinite;
}

#map {
  position: absolute;
  left: 6vw;
  top: 0;
  height: 100vh;
  width: 94vw;
  padding: 0;
  border-witdh: 0;
  margin: 0;
}

#logo {
  z-index: 3;
  position: fixed;
  right: 0;
  top: 0;
  margin: 30px 60px;
  font-size: 50px;
  font-family: Century Gothic, "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  display: block;
  color: #fcc492;
  text-shadow: 0 6px 4px #aa9d88, 0px -2px 1px #f7e8dc;
  font-weight: bold;
  letter-spacing: -4px;
  text-align: center;
  text-decoration: none;
}
