a:link { color: #1C1C1C; text-decoration: none; }
a:visited { color: #1C1C1C; text-decoration: none; }
a:hover { color: #1C1C1C; text-decoration: none; }
a:active { color: #1C1C1C; text-decoration: none; }

#map {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  padding: 0px;
  border-witdh: 0px;
  margin: 0px;
}

#logo {
  z-index: 3;
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 10px 20px;
  font-size: 36px;
}
