#Loading {
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  background-image: url(/images/texture.png);
}
h1 {
  position: absolute;
  color: rgba(252, 196, 146, .3);
  font: 900 800% Century Gothic, "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  font-weight: bold;
  letter-spacing: -4px;
  margin: 0;
  left : 50vw;
  top: 50vh;
}
@keyframes loading {
  from { max-width: 0; }
}
h1:before {
  content: attr(data-content);
  position: absolute;
  overflow: hidden;
  max-width: 4em;
  color: rgb(252, 196, 146);
  animation: loading 10s linear;
}

#map {
  position: absolute;
  left: 6vw;
  top: 0;
  height: 100vh;
  width: 94vw;
  padding: 0;
  border-witdh: 0;
  margin: 0;
}

#logo {
  z-index: 3;
  position: fixed;
  right: 0;
  top: 0;
  margin: 30px 60px;
  font-size: 50px;
  font-family: Century Gothic, "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  display: block;
  color: #fcc492;
  text-shadow: 0 6px 4px #aa9d88, 0px -2px 1px #f7e8dc;
  font-weight: bold;
  letter-spacing: -4px;
  text-align: center;
  text-decoration: none;
}
